# İşletim Sistemi Dosyaları
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

# IDE ve Editörler
.vscode/
.idea/

# Python Ön Bellek ve Sanal Ortamlar
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# YOLO Otomatik Çıktıları
runs/

# Çıktı klasörünü tamamen engelle
test_results/

# tests klasörünün içindeki medyaları engelle ama klasör yapısını tut (.gitkeep hariç)
tests/*
!tests/.gitkeep